@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Baloo+Bhai+2&family=Open+Sans&display=swap");
// Import Statements in SCSS
@import "variables.scss";

// Universal Operators
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// Header Styling
header {
    background-color: #1a1919;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    position: sticky;
    top: 0;

    nav {
        width: 99vw;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
        transition: all 1s;

        .logo {
            margin: 0 4rem;

            span {
                font-family: $balooBhai2Font;
                font-size: 2rem;
            }
        }

        ul {
            display: flex;
            margin: 0 5rem;

            li {
                padding: 1.8rem 2rem;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
    .stickyNav {
        background-color: #fff;
        color: #000;

        ul {
            li {
                a {
                    color: #000;
                }
            }
        }
    }

    hr {
        width: 100vw;
    }
}

// Welcome Box Styling
.welcomeBox {
    background-color: #1a1919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 55vw;
    }

    h1 {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
        font-family: $openSansFont;
        letter-spacing: 2px;
        color: #fff;
    }
}

// News Section Styling
#newSection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        font-size: 3rem;
        font-family: $balooBhai2Font;
    }

    .cardsBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .cards {
            width: fit-content;
            padding: 1rem 1rem;
            border: 4px solid #1a1919;
            border-radius: 10px;
            transition: all 0.3s;
            cursor: pointer;
            margin: 1rem 2rem;

            img {
                width: 20vw;
                transition: all 0.3s;
            }

            h2 {
                width: 20vw;
                transition: all 0.3s;
                font-family: $arvoFont;
            }

            p {
                width: 20vw;
                margin-bottom: 1.5rem;
                transition: all 0.3s;
                font-family: $openSansFont;
            }

            a {
                text-decoration: none;
                background-color: black;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                transition: all 0.3s;
            }
        }

        .cards:hover {
            transform: scale(1.2);
        }
    }
}
